/* custom CSS styles */

body {
	background: #f1f1f1;
}


#banner {
	height:315px;
	background: url("http://placehold.it/1000x315") no-repeat center;
}

footer {
	padding: 2em 0;
	color: #999;
}
footer p {
	font-size: 1em;
}

.review {
	padding: 0.5em;
	background-color: rgba(100, 100, 100, 0.1);
	margin-top:0.5em;
}

.review-body {
	max-height:3em;
	padding: 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.review-rating {
	padding: 0.25em;
}

.review-portrait {
	max-height: 40px;
	max-width: 40px;
}

.pricing {
	padding-top: 1em;
}

#profile {
	height: 100%;
}

#left-panel {
	background-color: #fff;
}

#center-panel {
	background-color: #fff;
}

#right-panel {
	background-color: #fff;
}

#profile-div {
	height: inherit;
	position: relative;
}

#profile-pic {
	position: absolute;
	bottom: 0;
	max-width: 100px;
	transform: translateX(-50%);
}

.social {
	color: #999;
}