.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2980b9;
  background-color: lightgrey;
  min-height: 100px;
  padding: 0rem 0rem;
  margin: 0;
  color: #black;
}

.footerContact  {
  padding: 20px 0 0px;
}
