body {
	background: white;
}

.HomeBanner {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: dodgerblue ;
    background: linear-gradient(to bottom, dodgerblue, lightblue 90%);
}

.HomeBanner h2, h2~p {
    color: white;
}

.HomeBanner iframe {
  width: 420px;
  height: 315px;
  /*display: inline;
  max-width: 420em;
  max-height: 315em;*/
}

.HomeCenter{
  background-color: white;
}
.HomeCenter  h2 {
  padding: .5em 0 0.1em;
}

@media (max-width:640px) {
  .media-test h1{
    display: none;
  }
  .HomeBanner iframe{
    width: inherit;
    height: inherit;
  }
}






@media (min-width:641px) {
  .media-test h3{
    display: none;
  }
}
