.lsModals {
  background: white;
  width: 40%;
  max-width: 400px;
  padding: 0;
}
.lsModals h3 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.5px;
  padding: 10px 0;
  margin: 0 0 20px 0;
  background: white;
  color: #3F3F3F;
  box-shadow: 2px 0 3px darkgrey;

}

.close-button {
  padding: 0px 5px 0 0;
}

.signInButton {
  color:  white;
  background-color: #FCFFFC;
  padding: 0px 0px 0px 10px;
  display: block;
  max-width: 200px;
  margin: 13px auto 13px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 0px 5px azure;
  transform: scale(1);
  transition: 0.5s;
}
.button-icon {
  display: inline-block;
  vertical-align:middle;
  font-size: 30px;
  width: 23px;
  padding: 0;
}

.button-text {
  display: inline-block;
  vertical-align:middle;
  font-size: 24px;
  width: 75%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 0 15px ;
  margin: 0 0 0 10px ;
}

.facebook {
  background-color: #3B589D;
  background-color: rgba(59, 87, 157, 0.9);
}

.google {
  background-color: #3B589D;
  background-color: rgba(234, 67, 53, 0.9);
}

.linkedin {
  background-color: #3B589D;
  background-color: rgba(0, 119, 181, 0.9);
}

.spacer {
  padding: 0;
  display: block;
  text-align: center;
  font-size: 16px;
  color: darkgrey;
  max-width: 300px;
  padding: 10px 0 0 0;
  margin: 20px auto 10px auto;
  border-top: 1px solid darkgrey;
}

.email {
  background-color: #3B589D;
  background-color: rgba(31, 62, 88, 0.8);
}

.email .button-text {
  padding-left: 30px;
}

.loginForm {
  padding: 0;
  display: block;
  text-align: center;
  font-size: 16px;
  color: darkgrey;
  max-width: 300px;
  margin: 0 auto 0 auto;
}
.loginForm .loginBTN {
  padding: 0;
  width: 50%;
  background-color: rgba(31, 62, 88, 0.9);
}
.loginForm .loginBTN .button-text{
  display: block;
  border-left: none;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: auto;
}


.signInButton:hover {
  color: white;
  box-shadow: 1px 1px 4px lightgrey;
}

.facebook:hover {
  background-color: rgba(59, 87, 157, 1);
  color: #white;
}

.google:hover {
  background-color: rgba(234, 67, 53, 1);
  transition: 0.15s;
}

.linkedin:hover {
  background-color: rgba(0, 119, 181, 1);
  transition: 0.15s;
}
.email:hover {
  background-color: rgba(31, 62, 88, 0.9);
  transition: 0.15s;
}
