body {
    background-color: azure;
}

.top-bar {
    background-color: azure;
    height: 5em;
}

.top-bar .name a img {
    height: 5em;
}
.top-bar .name {
    height: 5em;
}

.top-bar-section li {
    background-color: azure;
    color: black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: azure;
    color: black;
    line-height: 4.8125rem;
    padding: 0 0.9375rem; */
}



/*
.top-bar-section ul li > a {
    color: black;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    padding-left: 0.9375rem;
    padding: 12px 0 12px 0.9375rem;
    text-transform: none;
    width: 100%;   
}
*/




